body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

header {
  background-color: #222; /* Slightly darker header background */
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
}

#searchInput {
  margin-top: 25px;
  padding: 10px;
  font-size: 14px;
  background-color: #444; /* Darker input background */
  color: #fff;
  border: none;
  outline: 1px solid #666; /* Darker outline color */
  border-radius: 5px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #46a5c5;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#searchButton:hover {
  background-color: #d32f2f;
}

#movieDetails {
  padding: 20px;
  color: white;
}

#movieDetails img {
  outline: 1px solid white;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  header {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  #searchInput {
      padding: 5px;
      font-size: 14px;
  }

  #searchButton {
      padding: 5px 10px;
      font-size: 14px;
  }

  #movieDetails {
      padding: 10px;
  }
}